.map-grid {
    display: flex;
    flex-direction: column;
    &__obstacle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width:100%;
        height: 70px;
    }
}

.case {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:70px;
    height: 70px;
    border: 1px solid black;
    &__empty {
        background-color: white;
    }
    // OBSTACLES
    &__obstacle{
 
        &_one {
            background-image:  url("/public/icons/maps/assault/icons8-box-100.png");
            background-repeat: no-repeat;
            background-position: center; 
        }
        &_two {
            background-image:  url("/public/icons/maps/assault/icons8-brick-wall-100.png");
            background-repeat: no-repeat;
            background-position: center; 
        }
        &_three {
            background-image:  url("/public/icons/maps/assault/icons8-fire-100.png");
            background-repeat: no-repeat;
            background-position: center; 
        }
        &_four {
            background-image:  url("/public/icons/maps/assault/icons8-wooden-box-100.png");
            background-repeat: no-repeat;
            background-position: center; 
        }

    }
    // WEAPONS
    &__weapon {

        &_one {
            background-image:  url("/public/icons/weapons/icons8-gun-100.png");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center; 
        }
        &_two {
            background-image:  url("/public/icons/weapons/icons8-assault-rifle-100.png");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center; 
        }
        &_three {
            background-image:  url("/public/icons/weapons/icons8-crowbar-100.png");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center; 
        }
        &_four {
            background-image:  url("/public/icons/weapons/icons8-bulletproof-vest-100.png");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center; 
        }
    }
    // PLAYERS
    &__player {
        &_one {
            background-image:  url("/public/icons/players/icons8-top-view-man-100.png");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center; 
        }
        &_two {
            background-image:  url("/public/icons/players/icons8-top-view-man-2-100.png");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center; 
        }
    }
}