@font-face {
  font-family: "InterBold";
  src: url("/public/fonts/Inter/static/Inter-Bold.ttf");
}
.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.game__field {
  display: flex;
  justify-content: space-evenly;
}

.map {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(109, 109, 109, 0.548);
}
.map__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.case {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 3.8em;
  height: 3.8em;
  border: 1px solid rgba(109, 109, 109, 0.548);
}
.case__empty {
  background-color: white;
}
.case__obstacle_one {
  background-image: url("/public/icons/maps/assault/icons8-box-100.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.case__obstacle_two {
  background-image: url("/public/icons/maps/assault/icons8-brick-wall-100.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.case__obstacle_three {
  background-image: url("/public/icons/maps/assault/icons8-fire-100.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.case__obstacle_four {
  background-image: url("/public/icons/maps/assault/icons8-wooden-box-100.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.case__weapon_0 {
  background-image: url("/public/icons/weapons/weapon_0.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.case__weapon_1 {
  background-image: url("/public/icons/weapons/weapon_1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.case__weapon_2 {
  background-image: url("/public/icons/weapons/weapon_2.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.case__weapon_3 {
  background-image: url("/public/icons/weapons/weapon_3.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.case__player_0 {
  background-image: url("/public/icons/players/icons8-top-view-man-100.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.case__player_1 {
  background-image: url("/public/icons/players/icons8-top-view-man-2-100.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.case__can_go {
  background-color: #868686;
}

.player-infos {
  background-color: rgba(250, 130, 17, 0.822);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}
.player-infos__health {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.player-infos__health--img {
  width: 3em;
  height: 3em;
  background-image: url("/public/icons/players/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.player-infos__health--value {
  color: white;
  font-family: "InterBold";
  font-weight: bold;
}
.player-infos__weapon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.player-infos__weapon_0 {
  width: 3em;
  border: 0;
  height: 3em;
  background-image: url("/public/icons/weapons/weapon_0.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.player-infos__weapon_1 {
  width: 3em;
  border: 0;
  height: 3em;
  background-image: url("/public/icons/weapons/weapon_1.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.player-infos__weapon_2 {
  width: 3em;
  border: 0;
  height: 3em;
  background-image: url("/public/icons/weapons/weapon_2.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.player-infos__weapon_3 {
  width: 3em;
  border: 0;
  height: 3em;
  background-image: url("/public/icons/weapons/weapon_3.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.player-infos__weapon--value {
  color: white;
  font-family: "InterBold";
  font-weight: bold;
}
.player-infos__shield--img {
  width: 3em;
  height: 3em;
  background-image: url("/public/icons/players/shield.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.player-infos__shield--value {
  color: white;
  font-family: "InterBold";
  font-weight: bold;
}
.player-infos__shield--hidden {
  display: none;
}
.player-infos__shield--visible {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game__actions {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.btn-turn--active {
  margin: 1em;
  padding: 2em;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.904);
  background-image: url("/public/icons/players/repeat.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-turn--hidden {
  display: none;
}

.btn-attack--active {
  margin: 1em;
  border: none;
  cursor: pointer;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.904);
  background-image: url("/public/icons/players/assault-rifle.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-attack--hidden {
  display: none;
}

.btn-defend--active {
  margin: 1em;
  border: none;
  cursor: pointer;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.904);
  background-image: url("/public/icons/players/shield.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-defend--hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
