.player-infos {
    background-color: rgba(250, 130, 17, 0.822);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20em;
    
    &--active {
        background-color: rgb(118, 178, 255);
    }
    &__health {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &--img {
            width:3em;
            height: 3em;
            background-image: url("/public/icons/players/heart.png");
            @include background_rules(100%, no-repeat, center)
        } 
        &--value {
            color: white;
            font-family: 'InterBold';
            font-weight: bold;
        }
    }

    &__weapon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &_0 {
            width:3em;
            border:0; 
            height: 3em;
            background-image: url("/public/icons/weapons/weapon_0.png");
            @include background_rules(80%, no-repeat, center)
        } 
        &_1 {
            width:3em;
            border:0; 
            height: 3em;
            background-image: url("/public/icons/weapons/weapon_1.png");
            @include background_rules(80%, no-repeat, center)
        } 
        &_2 {
            width:3em;
            border:0; 
            height: 3em;
            background-image: url("/public/icons/weapons/weapon_2.png");
            @include background_rules(80%, no-repeat, center)
        } 
        &_3 {
            width:3em;
            border:0; 
            height: 3em;
            background-image: url("/public/icons/weapons/weapon_3.png");
            @include background_rules(80%, no-repeat, center)
        } 
        &--value {
            color: white;
            font-family: 'InterBold';
            font-weight: bold;
        }
    }

    &__shield {
        &--img {
            width:3em;
            height: 3em;
            background-image: url("/public/icons/players/shield.png");
            @include background_rules(100%, no-repeat, center)
        } 
        &--value {
            color: white;
            font-family: 'InterBold';
            font-weight: bold;
        }
        &--hidden {
            display: none;
        } 
        &--visible {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}